@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: norse-bold;
    src: url("fonts/Norse-Bold.otf");
}

:root {
    --main-color: #4A8277;
    --hover-color: #679B8A;
    --active-color: #316C64;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #F9FAFB;
}

.image-container,
.logo-container {
    width: 100%;
    height: auto;
}

.image-container {
    width: 100%;
    height: auto;
    position: relative;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 20%;
    background-color: rgb(0,0,0,0.5);
    padding: 8px;
}

.logo-container img {
    width: 100px;
    height: auto;
}

.logo-text {
    font-family: "norse-bold", sans-serif;
    color: white;
    font-size: 5rem;
}

.background-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-credit {
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-size: 0.75rem;
    color: white;
}

.image-credit a {
    color: white;
}

.form-header {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}

.inner-form {
    font-size: 1rem;
    padding: 1rem;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inner-form > div:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.form-row {
    font-size: 1rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'],
.form-row input[type='password'] {
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    width: 100%;
    padding: 8px;
}

.form-row input[type='text']:focus,
.form-row input[type='email']:focus,
.form-row input[type='tel']:focus,
.form-row input[type='password']:focus {
    outline: none;
    border: 1px solid #1D4ED8;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 2px;
}

.form-row label {
    margin-bottom: 4px;
}

.form-row input[type='password']:invalid {
    color: #D55C5F;
    border: 1px solid #D55C5F;
}

.form-row button[type="submit"] {
    font-size: 1rem;
    font-family: "Zalando Sans Expanded", sans-serif;
    color: #FFFFFF;
    background-color: var(--main-color);
    border: none;
    border-radius: 4px;
    padding: 12px 40px;
    margin-top: 30px;
    margin-bottom: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 4px 6px 8px;
}

.form-row button[type="submit"]:hover {
    background-color: var(--hover-color);
}

.form-row button[type="submit"]:active {
    background-color: var(--active-color);
}

.submit {
    padding: 1rem;
}

.submit > div {
    margin-top: 1rem;
    text-transform: none;
}

.submit > div a {
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
}

.submit > div a:hover {
    color: var(--hover-color);
}

@media only screen and (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: row;
        height: 100vh;
        overflow: hidden;
    }
    
    .image-container {
        width: 33%;
        max-width: 1000px;
        height: 100%;
    }

    .background-image {
        height: 100%;
    }

    .background-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .form-header {
        width: 75%;
        max-width: 1555px;
        padding: 2rem;
        padding-bottom: 4rem;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        flex: 1;
        overflow-y: auto;
    }

    .inner-form > div:first-child {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem;
    }

    .form-row-pair {
        display: flex;
        width: 75%;
        gap: 60px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .form-row {
        width: 50%;
        max-width: 980px;
    }

    .submit {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .form-row button[type="submit"] {
        min-width: 250px;
        width: 50%;
    }
}